<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{isEdit()? "Update Event": "Create New Event"}} </h5>
    <button #closeBtn type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form [formGroup]="eventForm" (ngSubmit)="onAddEvent()" novalidate>
    <div class="modal-body">
        <app-input controlName="title" label="title"></app-input>
        <app-input [textarea]="true" controlName="description" label="description"></app-input>
        <app-input controlName="location" label="location"></app-input>
        <app-select-option controlName="category" label="Category" [options]="getCategories()" />
        @if (!isAddCategory()) {<div class="d-flex justify-content-end category-btn"><a
                (click)="isAddCategory.set(true)">Add Category</a></div>}
        @else {
        <div class="input-group input-group-sm mb-3">
            <input type="text" #input class="form-control" placeholder="Add new category">
            <div class="input-group-append">
                <button class="btn btn-outline-danger" type="button" (click)="isAddCategory.set(false)">Cancel</button>
                <button class="btn btn-outline-primary" type="button" (click)="onAddCategory(input.value)">Add</button>
            </div>
        </div>
        }
        <app-input controlName="date" type="date" label="date"></app-input>

        @if (!isAddMembers()) {<div class="d-flex justify-content-end category-btn"><a
                (click)="isAddMembers.set(true)">Add Member</a>
        </div>
        }
        @else {
        <div class="input-group mb-3">
            <select [formControl]="member" class="form-select" aria-label="Default select example">
                <option value="">Select Joined User here..</option>
                @for (item of userList(); track $index) {
                    <option [value]="item._id">{{item.username}}</option>
                }
            </select>
            <button class="btn btn-outline-success" type="button" (click)="onAddMember()" id="button-addon2">Add</button>
            <button class="btn btn-outline-danger" (click)="isAddMembers.set(false); memberList.set([])" type="button" id="button-addon2">Cancel</button>

        </div>
        <ol class="list-group list-group-numbered">
            @for (item of memberList(); track $index) {
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{getUser(item).username}}</div>
                        {{getUser(item).email}}
                    </div>
                    <div (click)="onRemoveMember(getUser(item))" class="d-flex justify-content-between cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="cursor-pointer" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                          </svg>
                    </div>
                </li>
            }
            
        </ol>
        }

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <app-button [title]="isEdit()? 'Update': 'Add'" type="submit" [disable]="eventForm.invalid"
            [isLoading]="isLoading()" />
    </div>

</form>