<div class="container-fluid">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <br><br><br>
            <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Dashboard</h3>
                        <div class="nk-block-des text-soft">
                            <p>Welcome to Task Manager.</p>
                        </div>
                    </div><!-- .nk-block-head-content -->
                    <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                            <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                            <div class="toggle-expand-content" data-content="pageMenu">
                                <ul class="nk-block-tools g-3">
                                    <li class="nk-block-tools-opt"><a class="btn btn-primary cursor-pointer"><em class="icon ni ni-reports"></em><span>Reports</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .nk-block-head-content -->
                </div><!-- .nk-block-between -->
            </div><!-- .nk-block-head -->
            <div class="nk-block">
                <div class="row g-gs">
                    
                    @if (userInfo()?.role == 'admin') {
                        <div class="col-xxl-3 col-sm-6">
                            <app-dashbaord-card title="Total User" [value]="reportData().totalUsers" />
                        </div>
                    }
                    
                    <div class="col-xxl-3 col-sm-6">
                        <app-dashbaord-card title="Total Events" [value]="reportData().totalEvents" />
                    </div>
                    
                    <div class="col-xxl-3 col-sm-6">
                        <app-dashbaord-card title="Pending Events" [value]="reportData().totalPendingEvents" />
                    </div>
                    <div class="col-xxl-3 col-sm-6">
                        <app-dashbaord-card title="Approved Events" [value]="reportData().totalApprovedEvents" />
                    </div>
                    <div class="col-xxl-3 col-sm-6">
                        <app-dashbaord-card title="Total Event Joining" [value]="reportData().totalAttendees" />
                    </div>
                </div><!-- .row -->
            </div><!-- .nk-block -->
        </div>
    </div>
</div>