<div class="dropdown-inner user-card-wrap bg-lighter">
    <div class="user-card">
        <div class="user-avatar">
            <span>{{(userInfo()?.username ?? '')[0]}}</span>
        </div>
        <div class="user-info">
            <span class="lead-text">{{userInfo()?.username}}</span>
            <span class="sub-text">{{userInfo()?.email}}</span>
        </div>
    </div>
</div>
<!-- <div class="dropdown-inner"> -->
    <!-- <ul class="link-list"> -->
        <!-- <li><a href="html/user-profile-regular.html"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li> -->
        <!-- <li><a href="html/user-profile-setting.html"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a></li> -->
        <!-- <li><a href="html/user-profile-activity.html"><em class="icon ni ni-activity-alt"></em><span>Login Activity</span></a></li> -->
        <!-- <li><a class="dark-switch" href="#"><em class="icon ni ni-moon"></em><span>Dark Mode</span></a></li> -->
    <!-- </ul> -->
<!-- </div> -->
<div class="dropdown-inner">

    <ul class="link-list">
        <li><a (click)="utilitySer.onLogout()" style="cursor: pointer;"><em class="icon ni ni-signout pe-pointer"></em><span>Sign out</span></a></li>
    </ul>
</div>