<div class="container-fluid">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <br><br><br>

            <div class="nk-block">
                <div class="nk-block-between">
                    <div class="nk-block-head-content">
                        <h4 class="nk-block-title">Roles & Permissions</h4>
                        <div class="nk-block-des">
                            <p>You have total {{rows().length}} Roles.</p>
                        </div>
                    </div>
                    
                    <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModal">
                                Add Role
                            </button>
                        </div><!-- .toggle-wrap -->
                    </div><!-- .nk-block-head-content -->
                </div><!-- .nk-block-between -->
            </div><!-- .nk-block-head -->

            <div class="nk-block">

                <div class="card card-bordered card-stretch">
                    <div class="card-inner-group">
                
                        <div class="card-inner">
                            <div class="mb-2 d-flex d-flex justify-content-between align-items-center">
                                <!-- Search Box Above the Table -->
                                <input class="form-control me-2" type="search" placeholder="Search Events...." aria-label="Search"
                                    [formControl]="searchField" style="width: 40%; max-width: 300px;">
                            </div>
                            <ng-datatable [columnFilter]="true" skin="bh-table-compact" [rows]="rows()" [columns]="cols()" [sortable]="true" skin="whitespace-nowrap bh-table-hover"
                                [search]="searchValue()" [loading]="isLoading()"
                                firstArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M13 19L7 12L13 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M16.9998 19L10.9998 12L16.9998 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
                                lastArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M11 19L17 12L11 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M6.99976 19L12.9998 12L6.99976 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg> '
                                previousArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M15 5L9 12L15 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
                                nextArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M9 5L15 12L9 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'>
                
                
                                <ng-template slot="actions" let-value="data">
                                    <app-button size="sm"  title="Details" (click)="onUserDetails(value)"/>
                                </ng-template>
                
                            </ng-datatable>
                        </div>
                
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" #eventModel id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{false? "Update Role": "Create New Role"}} </h5>
                <button #closeBtn type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form [formGroup]="userForm" (ngSubmit)="onAddRole()" novalidate>
                <div class="modal-body">

                    <app-input controlName="username" label="Username"></app-input>
                    <app-input controlName="email" label="Email"></app-input>
                    <div class="mb-3">
                        <label class="form-label">Role</label>
                        <select formControlName="role" class="form-select" >
                            <option value="user" selected>User</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>

                    <div class="mb-3" formGroupName="permissions">
                        <label class="form-label">Permissions</label>
                        <div class="form-check">
                            <input formControlName="create" class="form-check-input" type="checkbox" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Create
                            </label>
                        </div>
                        <div class="form-check">
                            <input formControlName="delete" class="form-check-input" type="checkbox" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Delete
                            </label>
                        </div>
                        <div class="form-check">
                            <input formControlName="update" class="form-check-input" type="checkbox" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Update
                            </label>
                        </div>
                        <div class="form-check">
                            <input formControlName="join" class="form-check-input" type="checkbox" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Join
                            </label>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" #closeBtn data-dismiss="modal">Close</button>
                    <app-button [title]="false? 'Update': 'Add'" type="submit" [disable]="userForm.invalid"
                        [isLoading]="isSubLoading()" />
                </div>

            </form>
        </div>
    </div>
</div>