<div class="card">
    <div class="nk-ecwg nk-ecwg6">
        <div class="card-inner">
            <div class="card-title-group">
                <div class="card-title">
                    <h6 class="title">{{title()}}</h6>
                </div>
            </div>
            <div class="data">
                <div class="data-group">
                    <div class="amount">{{value()}}</div>
                    <div class="nk-ecwg6-ck">
                        <canvas class="ecommerce-line-chart-s3" id="todayOrders"></canvas>
                    </div>
                </div>
            </div>
        </div><!-- .card-inner -->
    </div><!-- .nk-ecwg -->
</div>